<!-- include head  -->
<%- include('incs/header.ejs') %>

<!-- include navbar  -->
<%- include('incs/navbar.ejs') %>

<!-- Write content of page  -->
<div class="products mt-3">
    <div class="container">
        <form action="/" method="GET">
            <select name="category" class="form-control mb-3">
                <option value="all">All</option>
                <option value="phones">Phones</option>
                <option value="computers">Computers</option>
                <option value="clothes">Clothes</option>
            </select>

            <input type="submit" value="Filter" class="btn btn-primary px-5">
        </form>
        <hr>
        <div class="row">
            <% if (products.length > 0) { %>
           

            <% for( let i =0; i < products.length; i++) { %>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="card">
                    <img src="<%= products[i].image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex">
                            <h5 class="card-title mr-auto"><a
                                    href="/product/<%= products[i]._id %>"><%= products[i].name %></a></h5>
                            <p class="lead"><%= products[i].price %></p>
                        </div>

                        <p class="card-text"><%= products[i].description %></p>
                        <form action="/cart" method="POST">
                            <input type="number" name="amount" placeholder="Entre amount" class="form-control">
                            <input type="hidden" name="name" value="<%= products[i].name %>">
                            <input type="hidden" name="price" value="<%= products[i].price %>">
                            <input type="hidden" name="productId" value="<%= products[i]._id %>">
                            <hr>
                            <input type="submit" value="Add to cart" class="btn btn-primary form-control">
                        </form>
                    </div>
                </div>
            </div>

            <% } } else {%>
            <div class="container text-center empty mr-auto">
                <h1 class="alert alert-danger">No Products yet</h1>
            </div>
            <% } %>

            

        </div>
    </div>
</div>

<!-- end content of page  -->



<!-- include footer  -->
<%- include('incs/footer.ejs') %>